<!-- Button trigger modal -->
<div class="container col-8 card mb-5">
    <div class="card-body">
        <div class="card-title">
            Ingrese nuevo usuario
        </div>
            
                <div class="form-group mt-4" >
                    <input [(ngModel)]="selectedUsuario.username" type="text" class="form-control" placeholder="Username"  /> 
                </div>
                <div class="form-group mt-2" >
                    <input [(ngModel)]="selectedUsuario.email" type="text" class="form-control" placeholder="Email"  /> 
                </div>
                <div class="form-group mt-2" >
                    <input [(ngModel)]="selectedUsuario.password" type="text" class="form-control" placeholder="Password"  /> 
                </div>
                <div class="form-group mt-2">
                    <button (click)="guardar()" class="btn btn-primary mt-2">
                        Guardar
                    </button>
                    <button (click)="nuevo()" class="btn btn-danger mt-2">
                        Nuevo
                    </button>
                </div>
            
    </div>
</div>



<div class="container">
    <div class="col">
        <div class="div card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <th scope="col"> Username </th>
                        <th scope="col"> email </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarioArray" 
                            (click)="seleccionar(usuario)"
                            [class.active] = "usuario == selectedUsuario"
                        >
                            <td> {{usuario.username}} </td>
                            <td> {{usuario.email}} </td>
                            <button type="button" class="btn btn-light ">Edit</button>
                            <button type="button" class="btn btn-light ">Delete</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

